.places {
    column-count: 2;
    columns: 30em;
    justify-content: center;
    padding: 0 20px;
    margin-top: 1%;
    margin-bottom: 8%;
}
@media only screen and (max-width: 920px)
{
    .places {
	display: flex;
	flex-wrap: wrap;
    }
}

.placesh1 h1 {
    width: 100%;
    margin-right: 400px;
    text-align: left;
    font-size: 35px;
}

